@model List<PcAnketProject.CerenUI.Models.ResimVeDuzenDto>
@{
    ViewData["Title"] = "Duzenle";
}

<h2>Resimleri Düzenle</h2>

<form method="post" asp-action="Duzenle">
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div style="border: 1px solid #ccc; padding: 10px;">
                
                <img src="https://localhost:7211/api/Resim/img/@Model[i].ResimID?width=150" /><br />

                <input type="hidden" name="model[@i].ResimID" value="@Model[i].ResimID" />
                <input type="hidden" name="model[@i].DuzenID" value="@Model[i].DuzenID" />

                <label>Başlık:</label>
                <input type="text" name="model[@i].Baslik" value="@Model[i].Baslik" /><br />

                <label>Rol:</label>
                <select name="model[@i].Rolu">
                    <option value="">Seçiniz</option>
                    <option value="Kapak" selected="@(Model[i].Rolu == "Kapak")">Başlık Resmi</option>
                    <option value="İçerik1" selected="@(Model[i].Rolu == "İçerik1")">İçerik 1</option>
                    <option value="İçerik2" selected="@(Model[i].Rolu == "İçerik2")">İçerik 2</option>
                    
                </select>
            </div>
        }
    </div>
    <br />
    <button type="submit">Kaydet</button>
</form>
