@model List<PcAnketProject.CerenUI.Models.ResimDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Yüklenen Resimler</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Dosya Adı</th>
        <th>Dosya Yolu</th>
        <th>Tarih</th>
        <th>Görüntüle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.DosyaAdi</td>
            <td>@item.DosyaYolu</td>
            <td>@item.YuklenmeTarihi</td>
            <td>
                <a href="@Url.Action("Goruntule", "Resim", new { id = item.ID })" target="_blank">
                    <img src="/images/view-icon.png" width="24" />
                </a>
            </td>
        </tr>
    }
</table>

